{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block content %}
<div class="product-detail">
    <div class="left">
        <img src="{% if product.imgURL %} {{product.imgURL}} {% else %} {% static 'img/no_image.png' %} {% endif %}"
            alt="">
            <div class="right">
                <h1>{{ product.name }}</h1>
                <h2>
                    <a href="{{ product.category.et_absolute_url }}" class="btn"><i class="fa-solid fa-basket-shopping"></i>
                        {{product.category}}
                    </a>
                    <p class="price">Rs{{ product.price }}</p>
                    {{ product.description | linebreaks }}
                </h2>
                <p class="price">Rs{{ product.price }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-warning" value="Add to Cart">
                </form>
            </div>
    </div>
</div>
{% endblock content %}